* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e3eb;
}
.calculator {
  max-width: 320px;
  width: 100%;
  border-radius: 10px;
  padding: 20px 20px 20px;
  background: #252D44;

}
input::placeholder {
  color: #fff;
}
.display {
  height: 70px;
  width: 100%;
  padding-right: 5px;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  color: #fff;
  pointer-events: none;
  background-color: #181F32;
}
.button-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr); 
}
.button-container button {
    margin-top: 5px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: #eee;
}
.button-container button:active {
  transform: scale(0.99);
}
.last-buttons {
    display: grid;
    grid-gap: 10px;
    padding-top: 15px;
    grid-template-columns: repeat(2,1fr);
}
.last-buttons button {
    padding: 10px ;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    
}
#Delete-button {
    color: #fff;
    background-color: #647299;
}
#reset-button {
    color: #fff;
    background-color: #647299;
    font-weight: 600;
}
#calculate-button {
    color: #fff;
    background-color: #D13F30;
    font-weight: 600;
}
label {
  color: antiquewhite;
  font-weight: 800;
}